body { 
    background-color: rgb(147, 60, 218);
    text-align: center;
}

h1 {
    font-size: 30px;
    text-align: center;
}

 .p1 {
    text-align: center;
    color:rgb(196, 61, 196);
    font-size: 20px;
}

 
.p2 {        
    text-align: center;
    color: rgb(16, 121, 212);
    font-size: 20px;
}


